body {
    margin: 0;
}
.topo{
    background-color: #492562;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px;
}
.a-menu{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    color: white;
}
h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    line-height: 62px;
    color: white;
}